@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.income-row {
  background-color: #b4eeb4ad;
}

.expense-row {
  background-color: #f08080ad;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green; /* Choose your desired color */
  border-radius: 50%;
  margin-right: 3px; /* Adjust spacing as needed */
  margin-left: 10px;
}

.circle-2{
  background-color: red; 
}
